# Get accumulated mutual fund investment portfolios

Get $\Gamma$ in this step. $\Gamma$ represent the accumulated mutual fund investment portfolios, specified by each fund’s average invested proportion on each stock over past several years.

In [126]:
import tushare as ts
import pandas as pd
import time
from tqdm import tqdm
pro = ts.pro_api('5d2dd2c56bb822ac0e818aaa4b0b344f95c7d5e7b9c83c69e2ed90ff')

In [127]:
manager_list = pd.read_csv("data/manager_list_whole.csv", index_col=0)

In [128]:
fund_stock_init = pd.read_csv("data/fund_stock_mkv_version.csv", index_col=0)

Drop invalid stocks (not in SH or SZ).

In [129]:
for i in fund_stock_init.columns:
    if i != 'ts_code':
        if i[-2:] != 'SZ' and i[-2:] != 'SH':
            fund_stock_init = fund_stock_init.drop(columns=i)

In [130]:
fund_stock_init

,ts_code,000001.SZ,000002.SZ,000004.SZ,000005.SZ,000006.SZ,000007.SZ,000008.SZ,000009.SZ,000010.SZ,...,688585.SH,688586.SH,688588.SH,688589.SH,688595.SH,688596.SH,688598.SH,688599.SH,688600.SH,688981.SH
0,000001.OF,0.00,4.036247e+07,0.0,0.0,0.0,0.0,0.000000,259507.722222,0.0,...,0.0,0.0,31991.245,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
1,000003.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
2,000004.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3,000007.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
4,000008.OF,0.00,0.000000e+00,0.0,0.0,15150.5,0.0,21209.666667,41856.955556,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3977,740101.OF,0.00,0.000000e+00,0.0,0.0,0.0,0.0,11526.055556,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3978,750001.OF,0.00,2.153730e+05,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3979,750005.OF,0.00,2.261889e+04,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0
3980,762001.OF,1517032.75,5.668023e+05,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,43188.231667,0.0,0.0
3981,770001.OF,25250.00,3.451111e+04,0.0,0.0,0.0,0.0,0.000000,0.000000,0.0,...,0.0,0.0,0.000,0.0,0.0,0.0,0.0,0.000000,0.0,0.0

In [131]:
fund_stock = fund_stock_init.set_index('ts_code')

In [132]:
manager_list

        ts_code name  birth_year  begin_date  end_date
0     512980.SH  罗国庆         NaN    20171227       NaN
1     510390.SH   成钧         NaN    20171225       NaN
2     510800.SH   薛玲         NaN    20171222       NaN
3     501053.SH  孔令超      1987.0    20180330       NaN
4     501053.SH   徐觅      1984.0    20180330       NaN
...         ...  ...         ...         ...       ...
5399  020001.OF  徐治彪         NaN    20200724       NaN
5400  000001.OF  董阳阳         NaN    20150107       NaN
5401  202001.OF   应帅      1976.0    20121123       NaN
5402  040001.OF   崔莹         NaN    20200224       NaN
5403  040001.OF   杨明         NaN    20181203       NaN

[5404 rows x 5 columns]

In [133]:
unique_manager_list = manager_list.groupby('name')

In [134]:
unique_manager_list.groups

{'HAN YILING': [338, 339, 424, 425], 'TIANHUAN': [4520], '丁士恒': [27, 1594, 4310, 4312, 5253], '丁孙楠': [2608, 3064], '丁尧': [1575, 1577, 3509], '丁玥': [892, 894], '丁琳': [2316, 2323, 2664, 2969, 2970], '丁进': [2624, 3183, 3185, 3431], '丁靖斐': [3266, 4396], '万亿': [1251, 1609], '万方方': [2521], '万梦': [797, 3201], '万民远': [3513], '万琼': [340, 414, 4451, 4475], '万莉': [4665, 4667], '严凯': [3198], '严婧璧': [1100, 4096, 4098], '严志勇': [1287, 1293, 1357, 2106, 2108], '严瑾': [5001, 5152], '严菲': [1116, 3356, 3781, 4139], '丰晨成': [113, 500, 3153, 4779], '乐育涛': [319, 321, 323, 5028], '乔亮': [945, 2021, 2022], '乔嘉麒': [1375, 1407, 2379, 2387], '乔培涛': [3835, 3858], '乔春': [2110, 3292], '乔海英': [698], '乔迁': [392, 4918], '于倩倩': [1969, 1972, 3652, 3745, 4395, 5198], '于军华': [2294], '于启明': [3273, 3275], '于泽雨': [3944, 3945, 3978, 3981, 4291, 4292], '于洋': [879, 881, 3409, 4953, 5235], '于海颖': [4293, 4295], '于渤': [928, 929, 3196, 3197], '于瑞': [5338], '于跃': [975], '于鹏': [693, 2896, 3568, 3571], '付伟': [1340, 4454, 4660], '付娟': [5126], '付斌': [5313], '付海宁': [2726, 2728, 5018, 5395], '代云锋': [3787, 4117], '代宇': [443, 1192, 1193, 1413, 1414, 4061, 4062, 4374, 4375, 4494, 4496], '代毅': [3155, 3670, 3983, 5318], '任凭': [1977, 3581, 4260, 4262], '任慧娟': [845, 846, 847, 2125, 2741, 3062, 3080], '任慧峰': [3814], '任爽': [1830, 3678, 3893, 3899, 3912, 4004], '任琳娜': [3268], '任翀': [595, 1581, 2097, 2101, 2516], '任翔': [3514, 3516], '伍文友': [2880], '伍方方': [1301, 2688], '伍旋': [523], '伍智勇': [5323], '何以广': [4661, 5161], '何俊春': [4111, 4112, 5339], '何凯': [4270, 4271, 4272], '何博': [1885], '何天翔': [48, 2140, 2977, 3014, 3596, 5352], '何奇': [4670], '何奇峰': [1264, 3408, 4236], '何如': [385, 409, 509, 550, 4229], '何子建': [4043, 4045], '何家琪': [1799, 1801, 2016, 4068, 4233, 5056, 5057, 5209, 5390], '何崇恺': [3075], '何帅': [4416, 4935], '何康': [1102, 1103, 3805, 3811, 4100], '何文忠': [1451, 1454], '何旻': [1147, 1149, 1159, 1161, 3970, 3972], '何昕': [2975], '何晓春': [4835], '何晶': [318, 1533, 1536, 3806, 4072, 4073], '何杰': [1048, 1749], '何江波': [1844, 2643, 2644, 2927, 4047, 4050, 4492, 4493, 4639, 4640], '何珅华': [3060, 3455, 3463], '何琦': [1775, 4691], '何秀红': [464, 2112, 4159, 4160, 4216, 4217], '何肖颉': [2721, 2724, 3167, 3477, 5245], '何谦': [915, 3824, 3825, 4925, 4965], '何龙': [527, 3232, 5396], '余亮': [709, 1717, 1725], '余广': [4526, 5087], '余志勇': [422, 1886, 2839, 3101, 4148, 5353], '余斌': [982, 1791, 1803, 1933, 2225, 2347, 3169, 4543, 4624], '余昊': [2361, 4728], '余欢': [2445], '余海燕': [62, 162, 176, 177, 178, 179, 200, 201, 251, 252, 312, 343, 346, 379, 400, 699, 2367, 3485, 4399, 4403, 4405, 4846], '余科苗': [1561, 1563, 3073, 3076, 3594], '余罗畅': [3373, 3375, 3412, 3414], '余芽芳': [2115], '佟巍': [5335], '侯慧娣': [1846, 1860, 3641], '侯昊': [34, 220, 221, 223, 227, 229, 233, 234, 235, 236, 3235, 4264, 4752], '侯春燕': [525, 5312], '侯杰': [883, 886, 2298, 2299, 2580], '侯梧': [5024], '俞晓斌': [317, 1733, 1734, 2414, 4119, 4161, 4162], '俞诚': [450, 806, 2457], ...}

In [137]:
raw_manager_stock = pd.DataFrame(columns=fund_stock_init.columns).rename(columns={'ts_code': 'name'})
for name, group in tqdm(unique_manager_list, desc="get"):
    i = 0
    flag = 0
    for index, row in group.iterrows():
        try:
            tmp = fund_stock.loc[row[['ts_code']]].reset_index()
            # print(tmp)
        except:
            flag = 1
            continue
        else:
            if i == 0:
                tmp_manager_stock = tmp
                # tmp_manager_stock = pd.concat([tmp, tmp_manager_stock], axis=0, ignore_index=True)
            else:
                tmp_manager_stock = tmp_manager_stock + tmp
            i += 1
    if flag: 
        continue
    tmp_manager_stock = tmp_manager_stock.drop(columns='ts_code')
    tmp_manager_stock = tmp_manager_stock.div(tmp_manager_stock.sum(axis=1), axis=0)
    tmp_manager_stock.loc[0, 'name'] = name
    raw_manager_stock = pd.concat([raw_manager_stock, tmp_manager_stock], axis=0, ignore_index=True)

get: 100%|██████████| 1652/1652 [00:22<00:00, 75.01it/s]

In [138]:
raw_manager_stock.to_csv("data/manager_fund.csv")